---
layout: compress
---

<!doctype html>

{% include origin-type.html %}

{% include lang.html %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}



<!-- `site.alt_lang` can specify a language different from the UI -->
<html lang="{{ page.lang | default: site.alt_lang | default: site.lang }}" {{ prefer_mode }}{% if page.layout == 'projetos' %} class="page-projetos"{% endif %}>

  {% include head.html %}

  <body>
<!-- menu desktop/mobile -  creditos> matheuslaidler.github.io -->
<nav id="cssmenu">
  <table width="auto" border="0" align="left"> 
    <tbody>
     <tr>  
      <td>
        <a href="/" title="matheuslaidler" target="_parent"> <!--   width="75%" top="1.285vh" left="15vh" align-self="left" border="0"  -->
				  <img class="logotipo" src="{{ "/assets/img/menu/matheuslaidler.gif" | absURL }}"/></a>
      </td> 
      </tbody>
    </table> 
  <div class="menu-icon" role="button" tabindex="0" aria-label="Abrir menu de seções do site" aria-expanded="false">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul>
    <li class="{% unless page.layout == 'projetos' %}active{% endunless %}"><a href="{{ site.baseurl }}" target="_parent">Acervo</a></li>
    <li class="{% if page.layout == 'projetos' %}active{% endif %}"><a href="{{ site.baseurl }}/projetos" target="_parent">Projetos</a></li>
    <li><a href="https://matheuslaidler.github.io/cryptool/" target="_parent">Cryptool</a></li>
    <li class="has-sub">
    <a href="#" data-toggle="dropdown">Páginas</a>
    <ul>
      <li><a href="https://github.com/matheuslaidler" target="_blank">Github</a></li>
      <li><a href="https://matheuslaidler.gitbook.io/" target="_blank">Rascunhos</a></li>
      <li><a href="https://youtube.com/@matheuslaidler" target="_blank">Youtube</a></li>
      <li><a href="https://instagram.com/matheuslaidler" target="_blank">Instagram</a></li>
      <li><a href="https://twitter.com/matheuslaidler" target="_blank">Twitter/X</a></li>
      <li><a href="https://linkedin.com/in/laidlervidal" target="_blank">LinkedIn</a></li>
    </ul>
      </li>
      <li class="has-sub">
      <a href="#" data-toggle="dropdown">Doação</a> <!-- donates❤ -->
      <ul>
        <li><a href="https://github.com/sponsors/matheuslaidler" target="_blank" rel="noopener" title="Apoie via GitHub Sponsors">GitHub Sponsor</a></li>
        <li><a href="https://www.paypal.com/donate/?hosted_button_id=SJYYS28HZPU9A" target="_blank" rel="noopener" title="Doar via PayPal">PayPal</a></li>
      </ul>
    </li>
      <li class="has-sub">
        <a href="#" data-toggle="dropdown" target="_parent">
          <img class="idioma" src="{{ site.baseurl }}/assets/img/btns/portuguese.png" title="portuguese"/></a> <!-- {{ "images/btns/portuguese.png" | absURL }} -->
          <ul>
            <li>
              <a href="https://medium.com/@matheuslaidler" target="_blank">
                <img class="idioma" src="{{ site.baseurl }}/assets/img/btns/english.png" title="english"/></a>
            </li>
          </ul>
      </li>
  </nav>
<!-- fim do menu de matheus laidler -->

    {% include sidebar.html lang=lang %}

    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column px-xxl-5">
        {% include topbar.html lang=lang %}

        <div class="row flex-grow-1">
          <main aria-label="Main Content" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% if layout.refactor or layout.layout == 'default' %}
              {% include refactor-content.html content=content lang=lang %}
            {% else %}
              {{ content }}
            {% endif %}
          </main>

          <!-- panel -->
          <aside aria-label="Panel" id="panel-wrapper" class="col-xl-3 ps-2 mb-5 text-muted">
            <div class="access">
              {% include_cached update-list.html lang=lang %}
              {% include_cached trending-tags.html lang=lang %}
            </div>

            {% for _include in layout.panel_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}
          </aside>
        </div>

        <div class="row">
          <!-- tail -->
          <div id="tail-wrapper" class="col-12 col-lg-11 col-xl-9 px-md-4">
            {% if page.layout == 'post' %}{% include support.html %}{% endif %}
            {% for _include in layout.tail_includes %}
              {% assign _include_path = _include | append: '.html' %}
              {% include {{ _include_path }} lang=lang %}
            {% endfor %}

            {% include_cached footer.html lang=lang %}
          </div>
        </div>

        {% include_cached search-results.html lang=lang %}
      </div>

      <aside aria-label="Scroll to Top">
        <button id="back-to-top" type="button" class="btn btn-lg btn-box-shadow">
          <i class="fas fa-angle-up"></i>
        </button>
      </aside>
    </div>

    <div id="mask"></div>

    {% if site.pwa.enabled %}
      {% include_cached notification.html lang=lang %}
    {% endif %}

    <!-- JavaScripts -->

    {% include js-selector.html lang=lang %}

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    {% include_cached search-loader.html lang=lang %}

    {% if page.layout == 'projetos' %}
      <script src="{{ '/assets/js/projetos.js' | relative_url }}" defer></script>
    {% endif %}
  </body>
</html>